* {
    font-family: Lato, Roboto;
    color: #737980;
}

/* utils */

._left { text-align: left; }
._right { text-align: right; }
._center {text-align: center; }
._centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
._centeredRow {
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* LAYOUT */

body {

    padding: 48px 32px;
    min-height: 400px;
    margin: 0;
}

/* PAGES */
.page  {
    min-height: 304;
}

/* PAGE: INSTALL */

#btn-install {
    
    margin-top: 32px;
}

/* PAGE: PROFILE */
/* .header */
.header {

    padding-bottom: 32px;
    border-bottom: 1px solid #F5F7FA;
}

.header.scroll {
    margin-top: -24px;
}
.header_name {

    font-size: 32px;
    text-align: center;
    font-weight: 800;
    color: #737980;
    margin: 0;
    margin-bottom: 8px;
}

.header_status {

    font-size: 14px;
    text-align: center;
    
    color: #B7C1CC;
    margin: 0;
    text-transform: uppercase;
}

/* .nav */
.nav {

    margin-top: 24px;
    padding: 0;
}

.nav li {

    display: inline-block;
    margin-left: 32px;
    text-align: center;

    font-size: 16px;
    color: #B7C1CC;
}

.nav li a {
    text-decoration: none;
}

.nav li[current] {
    font-weight: 800;
    line-height: normal;

    color: #737980;
}

.nav li:first-child {
    
    margin: 0;
}

/* .profile_content */

.profileContent {

    margin-top: 48px;
    font-weight: 300;
    font-size: 15px;
    
    color: #737980;
}

.profileContent.bio br::after {

    margin-top: 16px;
}

/* links */

.profileContent.links {
    flex-wrap: wrap;
}

.profileContent.links .link_block {

    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    color: #737980;

    padding: 8px 32px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    margin: 8px;
    border-radius: 8px;
    transition: .3s ease;
}

.profileContent.links .link_block:hover {
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.075);
}

.profileContent.links .link_block img {

    width: 32px;
    height: 32px;

    margin-right: 16px;

    border-radius: 25%;
}

.link_block#btn-add-link {

    padding: 0;
    width: 48px;
    height: 48px;
}


.link_block#btn-add-link:hover {

    background: #3D9CDC;
    color: white;
    box-shadow: 0px 0px 32px rgba(61, 156, 220, 0.25);
    /* padding-top: 2px; */
    /* height: 46px; */
}

/* BUTTONS */
.flat_button {
    padding: 7px 16px 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom:1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box

    
}

.flat_button::-moz-focus-inner {
    border: 0
}

.flat_button:hover {
    background-color: #5b88bd;
    text-decoration: none
}

.flat_button.active,.flat_button:active {
    background-color: #4872a3;
    padding-top: 8px;
    padding-bottom: 7px
}

.flat_button.secondary {
    background-color: #e5ebf1;
    color: #55677d
}

.flat_button.secondary:hover {
    background-color: #dfe6ed
}

.flat_button.secondary.active,.flat_button.secondary:active {
    background-color: #dae2ea
}

.flat_button.button_small {
    line-height: 11px
}

.flat_button.button_big {
    line-height: 17px
}
.flat_button.main_button {
    color:  white;
    background: #3D9CDC;
}
.flat_button.main_button:hover {
    background: #3D9CDC;
}

/* TEXT */

h1 {
  font-size: 32px;
  color: #222;
  margin: 20px 0 5px;
}

h2 {
  font-size: 16px;
  color: #000;
}

h2,
h3 {
  margin: 20px 0 15px;
}

h3 {
  font-size: 13px;
  color: #828282;
  font-weight: 500;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

h4 {
  border-bottom: 1px solid #e8ebee;
  color: #45688e;
  font-size: .923em;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0 0 3px;
}

p {

    font-weight: 300;
    color: #576980;
}

b {
    font-weight: 500;
}

/* IDs */



#text_author {
    
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;

    color: #737980;
}

#text_bio {

    font-weight: 500;
    font-size: 14px;
    text-align: center;
    
    color: #B7C1CC;
}